<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.user.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>com.user.servlet.SignupServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>signupservlet</display-name>
    <servlet-name>signupservlet</servlet-name>
    <servlet-class>com.userServlet.signupservlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>signupServlet</display-name>
    <servlet-name>signupServlet</servlet-name>
    <servlet-class>com.userServlet.signupServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>org.backend.SignUpServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>simple</display-name>
    <servlet-name>simple</servlet-name>
    <servlet-class>com.user.servlet.simple</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Signupservlet</display-name>
    <servlet-name>Signupservlet</servlet-name>
    <servlet-class>com.user.servlet.Signupservlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>signup</display-name>
    <servlet-name>signup</servlet-name>
    <servlet-class>org.backend.signup</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Signup</display-name>
    <servlet-name>Signup</servlet-name>
    <servlet-class>com.DB.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>signupservlet</servlet-name>
    <url-pattern>/signupservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>signupServlet</servlet-name>
    <url-pattern>/signupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>simple</servlet-name>
    <url-pattern>/simple</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Signupservlet</servlet-name>
    <url-pattern>/Signupservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewSignup</display-name>
    <servlet-name>NewSignup</servlet-name>
    <servlet-class>NewSignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewSignup</servlet-name>
    <url-pattern>/NewSignup</url-pattern>
  </servlet-mapping>
</web-app>